/* Write your code here. */
.header {
  /* height: 240px; */
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  background-color: #ffffff33; /* this is colour with Transparency */
}
.logo_container {
  display: flex;
  align-items: center;
}
.logo {
  height: 25px;
  width: 25px;
}

.logo_heading {
  margin-left: 10px;
  font: 600 15px 'Roboto';
  color: #ffffff;
}
.showmy_Score {
  display: flex;
  align-items: center;
}
.show {
  display: none;
}
.score_heading {
  font: 500 15px 'Roboto';
  color: #ffffff;
  margin: 0px 15px;
}
